@import url(https://fonts.googleapis.com/css?family=Unbounded:800);
@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,600);

@keyframes loader_animation {
    0% {
        color: var(--accent-color)
    }

    to {
        color: var(--accent-color-darker)
    }
}

:root {
    --accent-color-darker: #db6060;
    --accent-color: #f08080;
    --background-color: #f1f1f1;
    --sub-background-color: #fff;
    --text-color: #333;
    --disabled-button-color: #ddd;
    --white-color: #fff;
    --scroll-background-color: #db60605e;
    --footer-color: #e9e9e9;
}

::-webkit-scrollbar {
    background: var(--scroll-background-color);
    border-radius: 5px;
    width: 10px
}

::-webkit-scrollbar-thumb {
    background: var(--accent-color);
    border-radius: 5px
}

html {
    font-size: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

body {
    line-height: 1.75;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
    background: var(--background-color);
    color: var(--text-color);
}

p {
    margin-bottom: 1rem;
    /* align-self: flex-start;
    text-indent: 1.5rem; */
}

.go_up {
    font-size: 1rem;
    text-decoration: none;
    color: var(--accent-color);
}

.bordered {
    border-width: 4px;
    border-color: var(--disabled-button-color);
    border-style: dotted;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.under_head {
    font-family: 'Josefin Sans';
}

h1,
h2,
h3,
h4,
h5 {
    margin: 3rem 0 1.38rem;
    line-height: 1.3;
    font-family: 'Unbounded';
    font-weight: 800;
}

h1 {
    font-size: 3.052rem
}

h2 {
    font-size: 2.441rem
}

h3 {
    font-size: 1.953rem
}

h4 {
    font-size: 1.563rem
}

h5 {
    font-size: 1.25rem
}

.text_small,
small {
    font-size: .8rem
}

.semi-bold,
b {
    font-weight: 600
}

ol,
ul {
    align-self: flex-start;
    text-indent: 1.5rem;
}

.icon {
    background-color: var(--white-color);
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    mask-repeat: no-repeat;
    height: 24px;
    width: 24px;
}

.rounded_block {
    border-radius: 16px;
    padding: 10px;
    width: calc(100% - 20px);
}

#window_closer {
    background: #0002;
    display: none;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.loader {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #ffffffea;
    text-align: center;
    z-index: 1
}

.loader>svg {
    margin-top: 45vh;
    animation-name: loader_animation;
    animation: loader_animation 2s ease-in-out 0 infinite normal none;
    width: 50px;
    height: 50px
}

button,
.button {
    width: 50px;
    height: 50px;
    border-radius: 16px;
    border-width: 0;
    background-color: var(--accent-color);
    color: var(--white-color);
    stroke: var(--white-color);
    position: relative;
}

button:hover {
    background-color: var(--accent-color-darker);
    cursor: pointer;
}

svg.disabled {
    color: var(--disabled-button-color);
}

.navbar-item:hover::after,
button:hover::after,
.library_card_status:hover::after,
.library_statistics>div:hover::after {
    content: attr(hover-content);
    color: white;
    background: var(--text-color);
    border-radius: 8px;
    font-size: 0.8rem;
    padding: 5px 10px;
    position: absolute;
    width: max-content;
    z-index: 1;
}

.navbar {
    justify-content: center;
    flex-wrap: nowrap;
    width: 30%;
    min-width: 300px;
    border-radius: 0 0 16px 16px;
    background: var(--accent-color);
}

.navbar,
.navbar-item {
    display: flex;
    align-items: center
}

.navbar-item {
    stroke: var(--white-color);
    border-radius: 12px;
    padding: 8px;
}

.navbar-item:hover {
    stroke: var(--white-color);
    background-color: var(--accent-color-darker);
}

.navbar-item:hover::after {
    position: absolute;
    top: 50px;
}

.container {
    flex-direction: column;
    align-content: center
}

.body-content,
.container,
.library_page_head {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center
}

.body-content {
    margin: 50px;
    background: var(--white-color);
    padding: 20px;
    border-radius: 10px;
    width: calc(100vw - 50%);
    min-width: 700px;
    flex-direction: column;
    align-content: center
}

.library_statistics {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.library_statistics>div {
    align-items: center;
    border-radius: 16px;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    gap: 10px;
    justify-content: center;
    line-height: 1em;
    padding: 5px 0;
    position: relative;
    width: calc(100% / 7);
}

.library_statistics>div:hover::after {
    bottom: -40px;
    transform: translateY(-50%);
}

.library_statistics .icon {
    background-color: var(--text-color);
}

.library_filter_monitor {
    transform: translateY(-50%) translateX(100%);
    top: 50%;
    position: fixed;
    right: calc(100% - 10px);
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: fit-content;
    background: var(--background-color);
}

.library_filter_monitor>.library_toolbar_item:hover::after {
    position: absolute;
    width: max-content;
    left: 60px;
    z-index: 1;
}

.library_filter_monitor>.icon#filter {
    background-color: var(--accent-color);
}

.library_card_collection {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.library_card,
.library_card_status {
    display: flex;
    align-items: center;
    flex-wrap: nowrap
}

.library_card {
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 16px;
    background: var(--white-color);
    width: 200px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    color: var(--text-color)
}

.library_card_status {
    background: #000000bf;
    border-radius: 16px;
    width: 40px;
    height: 32px;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    position: absolute;
    margin: 10px;
    align-self: flex-end;
    color: var(--accent-color);
}

.library_card_status:hover::after {
    /* position: absolute; */
    top: -35px;
    line-height: normal;
    /* z-index: 1; */
    /* width: max-content; */
}

.library_card>img {
    height: 200px;
}

.library_card_details {
    align-items: flex-start;
    background: var(--white-color);
    border-radius: 16px 0 0 16px;
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: fit-content;
    padding: 20px;
    position: fixed;
    right: 0;
    width: 40%;
    max-width: 400px;
    z-index: 1;
}

.library_card_details p {
    margin: 0.2rem 0;
}

.library_card_details_author {
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

div.library_card_collection>.library_card:hover+.library_card_details {
    display: flex;
    top: 50%;
    transform: translateY(-50%);
}

.library_tags ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px
}

.tag_search {
    display: flex;
}

.tag_search_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white-color);
    border-radius: 16px 0 0 16px;
    flex: 0 0 40px;
}

.tag_search_select {
    background: var(--white-color);
    padding: 0 10px;
    border: 0;
    width: 100%;
}

.tag_search_submit {
    flex: 0 0 50px;
    border-radius: 0 16px 16px 0;
}

.tag_search_submit:hover::after {
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
}

.select_tag:hover::after {
    left: 100%;
    transform: translateX(10px);
}

.library_tags {
    padding: 10px;
    width: 400px;
    border-radius: 16px;
    background: var(--background-color);
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: calc(100vw - 530px);
    height: calc(100vh - 220px);
    overflow-y: scroll;
    display: none;
    z-index: 2;
}

.library_tags fieldset {
    border-width: 0
}

.library_tags ul {
    flex-direction: column;
    list-style-type: none;
    justify-content: flex-start;
    align-items: stretch;
    padding: 0
}

.library_tags ul>li {
    background: var(--white-color);
    padding: 5px 10px;
    border-radius: 16px
}

.library_page_head {
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 10px;
}

.library_page_head img {
    height: 300px;
    border-radius: 16px
}

.library_page_head h1 {
    margin: 0;
}

.library_page_author,
.library_page_underhead {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

.library_page_underhead {
    justify-content: space-between;
    margin-bottom: 10px;
}

.library_page_author {
    width: calc(50% - 5px);
    justify-content: flex-start;
    gap: 10px;
}

.library_page_table {
    background: var(--white-color);
    width: 60%;
    display: block;
    text-align: left;
    flex: 0 0 60%;
}

.library_page_table th {
    width: 200px
}

.library_page_toolbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.library_page_toolbar>button {
    border: 0;
    color: var(--white-color);
    background-color: var(--accent-color);
    position: relative;
}

.library_filters .library_toolbar_item:hover::after {
    top: 50px;
    transform: translateY(50%);
    right: auto;
    position: absolute;
}

.library_page_toolbar>button:hover,
.library_toolbar_item:hover {
    cursor: pointer;
    background-color: var(--accent-color-darker)
}

.library_page_toolbar>button:hover::after {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
}

.library_page_content {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    margin-bottom: 10px;
}

.library_page_requirements {
    width: calc(40% - 10px);
    background: var(--white-color);
}

.library_page_files {
    background-color: var(--sub-background-color);
}

.library_page_files_table {
    width: 100%;
    text-align: left;
    border-spacing: 0;
}

.library_page_files_table th {
    padding-left: 10px;
}

.library_page_files_table tr:hover {
    color: var(--accent-color);
}

.library_page_files_table_button {
    width: 50px;
}

.library_page_files_table_button>button {
    position: relative;
}

.library_toolbar_item:disabled,
.library_page_files_table_button>button:disabled,
.library_toolbar_item:disabled:hover,
.library_page_files_table_button>button:disabled:hover {
    background-color: #0000;
    border-color: var(--disabled-button-color);
    border-style: dotted;
    border-width: 4px;
    color: var(--disabled-button-color);
    cursor: not-allowed;
}

.library_page_files_table_button>button:hover::after {
    left: 50px;
}

.asset_requirements {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
}

.shadow {
    -webkit-box-shadow: 0 0 25px 2px rgba(34, 60, 80, .15);
    -moz-box-shadow: 0 0 25px 2px rgba(34, 60, 80, .15);
    box-shadow: 0 0 25px 2px rgba(34, 60, 80, .15)
}

#per_page_selector {
    height: 50px;
    width: 100px;
    border-color: var(--accent-color);
    border-radius: 16px;
    border-width: 2px;
    color: var(--text-color);
    padding: 5px;
}

#per_page_selector:focus,
#per_page_selector:hover {
    border-color: var(--accent-color-darker);
}

.library_filters,
.library_toolbar,
.library_filter_monitor {
    display: flex;
    align-items: center;
    gap: 10px;
}

.library_filters {
    margin-bottom: 10px;
    justify-content: flex-end;
}

.library_filters>fieldset {
    border: 0;
    padding: 0;
    gap: 10px;
    display: flex
}

.library_filters label {
    display: inline-flex;
    cursor: pointer;
    gap: 10px;
    align-items: center;
}

.library_filters input {
    border: var(--accent-color) 2px solid;
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
    margin: 0;
    appearance: none;
}

.library_filters input:checked {
    background-color: var(--accent-color);
}

.library_toolbar {
    transform: translateY(-50%) translateX(-100%);
    top: 50%;
    position: fixed;
    left: calc(100% - 10px);
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: fit-content;
    background: var(--background-color);
}

/* .library_toolbar_item {
    background: var(--accent-color);
    color: var(--white-color);
    border: 0;
    border-radius: 16px;
    width: 50px;
    height: 50px
} */

.library_toolbar svg {
    position: absolute
}

.library_toolbar_item:hover::after {
    position: absolute;
    width: max-content;
    right: 60px;
    z-index: 1;
}

.library_toolbar_item,
.paginator,
.paginator-item {
    display: flex;
    justify-content: center;
    align-items: center
}

.danger_zone {
    background: var(--background-color);
    border-color: var(--accent-color);
    border-radius: 16px;
    border-style: solid;
    border-width: 4px;
    display: none;
    right: 100px;
    padding: 10px;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.danger_zone>form {
    display: flex;
    align-items: center;
    border-radius: 16px;
    gap: 10px;
    background: var(--background-color);
    padding: 10px;
    -webkit-box-shadow: inset 0 0 25px 2px rgb(34 60 80 / 15%);
    -moz-box-shadow: inset 0 0 25px 2px rgba(34, 60, 80, .15);
    box-shadow: inset 0 0 25px 2px rgb(34 60 80 / 15%);
}

.danger_zone>h3 {
    margin-top: 1rem;
    text-align: center;
    width: 100%;
}

.paginator {
    gap: 10px;
    position: fixed;
    flex-wrap: nowrap;
    flex-direction: row;
    top: calc(100vh - 100px);
    width: auto;
    background: var(--background-color);
}

.paginator-item {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: var(--accent-color);
    color: var(--white-color);
}

:disabled>.icon {
    background-color: var(--disabled-button-color);
}

div.paginator-item {
    color: var(--disabled-button-color);
    background: none;
}

a.paginator-item:hover {
    background: var(--accent-color-darker);
    cursor: pointer;
}

.settings_form {
    /* padding-bottom: 10px; */
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.settings_form>div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settings_form>div>input,
.settings_form>div>select {
    padding: 5px 10px;
    border-radius: 16px;
    background-color: var(--background-color);
    /* var(--accent-color) */
    border-width: 0;
    width: 70%;
}

.settings_form>div>input:hover,
.settings_form>div>select:hover {
    background-color: #ccc;
    /* var(--accent-color-darker) */
    border-width: 0;
}

.settings_form>div>select>option {
    background-color: var(--white-color);
}

.settings_form>button,
.settings_form>div>button {
    width: 230px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.settings_form button:hover::after {
    display: none;
}

.footer-content {
    font-size: .7rem;
    margin: 0
}

.footer {
    background-color: var(--footer-color);
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    position: fixed;
    top: calc(100% - 20px);
    width: 100%
}

.library_filter_monitor>.icon#filter[disabled="disabled"],
[disabled="disabled"] {
    color: var(--disabled-button-color);
    background-color: var(--disabled-button-color);
}

.library_toolbar>.icon#tool {
    background-color: var(--accent-color);
}