<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="../static/site.css">
    <link rel="stylesheet" type="text/css" href="../static/icons.css">
</head>

<body>

    <div class="wrapper">
        <div class="container">

            <div class="navbar">
                <a href="{{ url_for('index') }}" class="navbar-item" hover-content="Swautomatic">
                    <div id='home' class='icon'></div>
                </a>
                <!-- <a href="{{ url_for('about') }}" class="navbar-item" hover-content="About">
                    <div id='help-circle' class='icon'></div>
                </a> -->
                <!-- <a href="" class="navbar-item" hover-content="Documentation">
                    <div id='book' class='icon'></div>
                </a> -->
                <a href="{{ url_for('library') }}" class="navbar-item" hover-content="Library">
                    <div id='database' class='icon'></div>
                </a>
                <!-- <a href="{{ url_for('settings_page') }}" class="navbar-item" hover-content="Settings">
                    <div id='settings' class='icon'></div>
                </a> -->
            </div>

            <div class="body-content">
                {% block content %}
                {% endblock %}
            </div>

        </div>

        <div class="footer">
            <p class="footer-content">@antydemidov, 2023</p>
        </div>
    </div>

</body>

</html>