{% extends "layout.html" %}

{% block content %}
<script>
    function show_tags() {
        document.getElementById("library_tags").style.display = "block";
        document.getElementById("window_closer").style.display = "block";
    }

    function show_loader() {
        document.getElementById("loader").style.display = "block";
    }

    function show_danger_zone() {
        document.getElementById("danger_zone").style.display = "block";
        document.getElementById("window_closer").style.display = "block";
    }

    function window_closer() {
        document.getElementById("window_closer").style.display = "none";
        document.getElementById("library_tags").style.display = "none";
        document.getElementById("danger_zone").style.display = "none";
    }
</script>

<!-- Full screen block for loading -->
<div class="loader" id="loader">
    <div id='loader' class='icon'></div>
</div>

<!-- Library statistics -->
<div class="library_statistics shadow rounded_block">
    <div class="bordered" hover-content="Number of assets">
        <div id='hash' class='icon'></div>
        {{ statistics.count }}
    </div>
    <div class="bordered" hover-content="Number of installed assets">
        <div id='download' class='icon'></div>
        {{ statistics.installed }}
    </div>
    <div class="bordered" hover-content="Number of not installed assets">
        <div id='cloud' class='icon'></div>
        {{ statistics.not_installed }}
    </div>
    <div class="bordered" hover-content="Sum of installed assets' sizes">
        <div id='box' class='icon'></div>
        {{ statistics.assets_size }}
    </div>
    <div class="bordered" hover-content="Sum of installed mods' sizes">
        <div id='tool' class='icon'></div>
        {{ statistics.mods_size }}
    </div>
    <div class="bordered" hover-content="Total size">
        <div id='database' class='icon'></div>
        {{ statistics.total_size }}
    </div>
</div>

<!-- Library Filter -->
<form class="library_filters shadow rounded_block" id="library_filters" name="library_filters"
    action="{{ url_for('library') }}" method="post">
    <fieldset>
        <label><input type="radio" name="library_filters_choices" value="0">All items</label>
        <label><input type="radio" name="library_filters_choices" value="1">Installed</label>
        <label><input type="radio" name="library_filters_choices" value="2">Not installed</label>
    </fieldset>
    {{ per_page_form.per_page_selector }}
    <button class="library_toolbar_item" type="reset" hover-content="Reset">
        <div id='x-square' class='icon'></div>
    </button>
    <button class="library_toolbar_item" type="submit" name="filter" hover-content="Apply filter">
        <div id='check' class='icon'></div>
    </button>
</form>

<!-- Full screen block for closing windows -->
<div id="window_closer" onclick="window_closer();"></div>

<!-- Danger Zone window -->
<div class="danger_zone shadow" id="danger_zone">
    <h3>Danger Zone!</h3>
    <form action="{{url_for('library')}}" method="post">
        <button class="library_toolbar_item" type="submit" name="total_reset" value="true" onclick="show_loader();"
            hover-content="Reload database">
            <div id='x-circle' class='icon'></div>
        </button>
        <button class="library_toolbar_item" disabled="disabled" hover-content="Coming soon!"></button>
        <button class="library_toolbar_item" disabled="disabled" hover-content="Coming soon!"></button>
        <button class="library_toolbar_item" disabled="disabled" hover-content="Coming soon!"></button>
    </form>
</div>

<!-- Assets Collection -->
<div class="library_card_collection" id="library_card_collection">
    {% for asset in datalist %}
    <a class="library_card shadow" href="{{ url_for('library_page', steam_id=asset['steamid']) }}">
        <img src="{{ url_for('previews', assetid=asset['steamid']) }}">
        <p>{{ asset['name'] }}</p>
        {% if asset['is_installed'] %}
        <div class="library_card_status" hover-content="Installed">
            <div id='check' class='icon'></div>
        </div>
        {% else %}
        <div class="library_card_status" hover-content="Not installed">
            <div id='cloud' class='icon'></div>
        </div>
        {% endif %}
    </a>
    <div class="library_card_details shadow">
        <p><b>{{ asset['name'] }}</b></p>
        <p><b>File size: </b>{{ asset['file_size'] }}</p>
        <div class="library_card_details_author">
            <p><b>Author:</b></p>
            <img src="{{ asset['author_avatarIcon'] }}">
            <p>{{ asset['author_steamID'] }}</p>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Filter monitor -->
<form class="library_filter_monitor shadow rounded_block" method="post" action="{{url_for('library')}}">
    <div id='filter' class='icon' {% if not filter_monitor.total %} disabled="disabled" {% endif %}></div>
    <button class="library_toolbar_item" type="submit" name="filter_tag"
        hover-content="{{filter_monitor.tag['message']}}" {% if not filter_monitor.tag['applied'] %} disabled="disabled"
        {% endif %}>
        <div id='list' class='icon'></div>
    </button>
    <button class="library_toolbar_item" type="submit" name="filter_installed"
        hover-content="{{filter_monitor.is_installed['message']}}" {% if not filter_monitor.is_installed['applied'] %}
        disabled="disabled" {% endif %}>
        <div id='download' class='icon'></div>
    </button>
    <button class="library_toolbar_item" type="submit" name="filter_need_update"
        hover-content="{{filter_monitor.need_update['message']}}" {% if not filter_monitor.need_update['applied'] %}
        disabled="disabled" {% endif %}>
        <div id='download-cloud' class='icon'></div>
    </button>
</form>

<!-- Library Toolbar -->
<form class="library_toolbar shadow rounded_block" method="post" action="{{url_for('library')}}">
    <div id='tool' class='icon'></div>
    <!-- Update tags -->
    <button class="library_toolbar_item" type="submit" name="update_tags" value="true" onclick="show_loader();"
        hover-content="Update tags">
        <div id='repeat' class='icon'></div>
    </button>
    <!-- Update status -->
    <button class="library_toolbar_item" type="submit" name="check_updates" value="true" onclick="show_loader();"
        hover-content="Update status of all assets">
        <div id='refresh-cw' class='icon'></div>
    </button>
    <!-- Update the database -->
    <button class="library_toolbar_item" type="submit" name="update_database" value="true" onclick="show_loader();"
        hover-content="Update data of all assets">
        <div id='database' class='icon'></div>
    </button>
    <!-- Button opening the tags window -->
    <button class="library_toolbar_item" type="button" name="open_tag" onClick="show_tags();"
        hover-content="Open tags list">
        <div id='list' class='icon'></div>
    </button>
    <!-- Button downloading all assets in the database -->
    <button class="library_toolbar_item" type="submit" name="download_all" value="true" onclick="show_loader();"
        hover-content="Download all assets">
        <div id='download' class='icon'></div>
    </button>
    <!-- Button showing only assets which need update -->
    <button class="library_toolbar_item" type="submit" value="{{ no_need_upd }}" name="need_upd"
        formaction="{{url_for('library', need_upd=no_need_upd) }}" hover-content="Show need update">
        {% if need_upd == 1 %}
        <div id='toggle-right' class='icon'></div>
        {% else %}
        <div id='toggle-left' class='icon'></div>
        {% endif %}
    </button>
    <!-- Button opening Danger Zone -->
    <button class="library_toolbar_item" type="button" id="danger_zone" onClick="show_danger_zone();"
        hover-content="Show Danger zone">
        <div id='alert-triangle' class='icon'></div>
    </button>
    <!-- New feature button -->
    <button class="library_toolbar_item bordered" disabled="disabled" hover-content="Coming soon!"></button>
</form>

<!-- Window for a list of tags -->
<div id="library_tags" class="library_tags shadow">
    <form class="tag_search" id="library_tags_search" method="POST" action="{{ url_for('library') }}">
        <div class="tag_search_icon">
            <div id='search' class='icon'></div>
        </div>
        <input class="tag_search_select" name="tag" list="tags">
        <datalist id="tags">
            {% for tag in tags %}<option value="{{tag}}">{% endfor %}
        </datalist>
        <button class="tag_search_submit" type="submit" hover-content="Apply">
            <div id="check" class="icon"></div>
        </button>
    </form>
    <form id="library_tags_choice" method="POST">
        {{ tags_form.tag_choices }}
        <button class="select_tag" name="select_tag" value="true" type="submit" hover-content="Apply filter">
            <div id="check" class="icon"></div>
        </button>
    </form>
</div>

<!-- Pagination -->
<div class="paginator shadow rounded_block">
    {% if page_num == 1 %}
    <div class="paginator-item bordered" :disabled>
        <div id="chevron-left" class="icon"></div>
    </div>
    {% else %}
    <a class="paginator-item" href="{{ url_for('library', p=page_num-1) }}">
        <div id="chevron-left" class="icon"></div>
    </a>
    {% endif %}
    {% if page_num == last_page %}
    <div class="paginator-item bordered">
        <div id="chevron-right" class="icon"></div>
    </div>
    {% else %}
    <a class="paginator-item" href="{{ url_for('library', p=page_num+1) }}">
        <div id="chevron-right" class="icon"></div>
    </a>
    {% endif %}
</div>

{% endblock %}