{% extends "layout.html" %}

{% block content %}
<script>
    function show_loader() {
        var div = document.getElementById("loader").style.display;
        if (div == "") div = "none";
        if (div == "none") { div = "block"; } else { div = "none"; }
        document.getElementById("loader").style.display = div;
    }
</script>

<div class="loader" id="loader">
    <div id='loader' class='icon'></div>
</div>

<div class="library_page_head shadow rounded_block">
    <img src="{{ preview_path }}">
    <h1>{{ asset.name }}</h1>
</div>

<!-- Toolbar -->
<div class="library_page_underhead shadow rounded_block">
    <form class="library_page_toolbar" method="post" action="{{ url_for('library_page', steam_id=asset.steamid) }}">
        {% if asset.need_update == True %}
        <button class="library_toolbar_item" name="download_asset" value="true" type="submit"
            hover-content="Update asset" formmethod="post" onClick="show_loader();">
            <div id='refresh-cw' class='icon'></div>
        </button>
        {% elif asset.is_installed == True %}
        <button class="library_toolbar_item" name="downloaded_asset" value="False" type="button"
            style="cursor:not-allowed" hover-content="Asset is downloaded">
            <div id='check' class='icon'></div>
        </button>
        {% else %}
        <button class="library_toolbar_item" name="download_asset" value="true" type="submit" hover-content="Download"
            formmethod="post" onClick="show_loader();">
            <div id='download' class='icon'></div>
        </button>
        {% endif %}
        <button class="library_toolbar_item" type="submit" hover-content="Update record" value="true"
            name="update_asset" onClick="show_loader();">
            <div id='refresh-cw' class='icon'></div>
        </button>
        <button class="library_toolbar_item" type="submit" hover-content="Delete" value="true" name="delete_asset"
            onClick="show_loader();">
            <div id='trash-2' class='icon'></div>
        </button>
        <button class="library_toolbar_item bordered" disabled="disabled" hover-content="Coming soon!"></button>
    </form>
    <div class="library_page_author">
        <img class="button" src="{{ asset.author.avatar_icon }}">
        <p>{{ asset.author.steam_id }}</p>
    </div>
</div>

<!-- Content -->
<div class="library_page_content">
    <table class="library_page_table shadow rounded_block">
        <tr>
            <th>Steam ID</th>
            <td>{{ asset.steamid }}</td>
        </tr>
        <tr>
            <th>Tags</th>
            <td>
                {% for tag in asset.tags %}
                <a href="{{ url_for('library', tag=tag.tag) }}">{{ tag.tag }}</a>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>File size</th>
            <td>{{ file_size }}</td>
        </tr>
        <tr>
            <th>Time created</th>
            <td>{{ asset.time_created }}</td>
        </tr>
        <tr>
            <th>Time updated</th>
            <td>{{ asset.time_updated }}</td>
        </tr>
        {% if show_time_local %}
        <tr>
            <th>Time local</th>
            <td>{{ asset.time_local.isoformat(sep=' ', timespec='seconds') }}</td>
        </tr>
        {% endif %}
    </table>
    <div class="library_page_requirements shadow rounded_block">
        <div class="asset_requirements">
            <button class="library_toolbar_item bordered" disabled="disabled" hover-content="Coming soon!"></button>
            <p>Requerement №1</p>
        </div>
        <div class="asset_requirements">
            <button class="library_toolbar_item bordered" disabled="disabled" hover-content="Coming soon!"></button>
            <p>Requerement №2</p>
        </div>
    </div>
</div>

<!-- Files -->
<div class="library_page_files shadow rounded_block">
    <table class="library_page_files_table">
        {% for path, data in files %}
        <tr>
            <th>{{data['id']}}</th>
            <td>{{path}}</td>
            <td>{{data['size']}}</td>
            <td class="library_page_files_table_button">
                <button class="library_toolbar_item" type="submit" disabled="disabled" value="{{data['id']}}"
                    hover-content="Coming soon!">
                    <div id='trash-2' class='icon'></div>
                </button>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}