{% extends "layout.html" %}

{% block content %}
<h1>{{ heading }}</h1>

<form class="settings_form" action="" method="post">
    <div>{{ form.authmechanism.label }} {{ form.authmechanism }}</div>
    <div>{{ form.authsource.label }} {{ form.authsource }}</div>
    <div>{{ form.appid.label }} {{ form.appid }}</div>
    <div>{{ form.database_name.label }} {{ form.database_name }}</div>
    <div>{{ form.app_path.label }} {{ form.app_path }}</div>
    <div>{{ form.common_path.label }} {{ form.common_path }}</div>
    <div>Common path
        <button>
            <div id='folder' class='icon'></div>Указать папку
        </button>
    </div>
    <div>{{ form.user_url_profiles.label }} {{ form.user_url_profiles }}</div>
    <div>{{ form.user_url_id.label }} {{ form.user_url_id }}</div>
    <div>{{ form.asset_url.label }} {{ form.asset_url }}</div>
    <div>{{ form.user_favs_url.label }} {{ form.user_favs_url }}</div>
    <div>{{ form.previews_path.label }} {{ form.previews_path }}</div>
    <div>Previews path
        <button>
            <div id='folder' class='icon'></div>
            Указать папку
        </button>
    </div>
    <div>{{ form.steam_api_url.label }} {{ form.steam_api_url }}</div>
    <div>{{ form.timeout.label }} {{ form.timeout }}</div>
    <div>{{ form.longtimeout.label }} {{ form.longtimeout }}</div>
    <div>{{ form.per_page.label }} {{ form.per_page }}</div>
    <button type="submit">
        <div id='save' class='icon'></div>
        Сохранить
    </button>
    <div>{{ form.hidden_tag() }}</div>
</form>

{% endblock %}